extends layout

block content 
    main 
        h1 Menu 
        h2 Entrée 
        ul
            each entree in menu['entrees']   
                li 
                    a(href=`menu/details/entrees/${entree.id}`) #{entree.nom}
        h2 Plats
        ul
            each plat in menu['plats']
                li 
                    a(href=`menu/details/plats/${plat.id}`) #{plat.nom}
        h2 Desserts
        ul 
            each dessert in menu["desserts"]
                li
                    a(href=`menu/details/desserts/${dessert.id}`) #{dessert.nom}
